This is the selector for our <h1> heading. Selectors are CSS components that allow us to apply styling to specific HTML elements. 
h1 {
padding: 35px;
text-align: center;
background-color: snow;
}
h2, h3 {
text-align: center;
} 
body {
background-color: powderblue;
}
