body {
  padding: 0;
  margin: 0;
  background-image:url("../Images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
}

header{
    border: 1px solid #1d000098;
    padding: 35px;
    text-align: center;
    background-color: #ffffff98;
}

nav {
    max-width: 100%;
    margin:0 auto;
    background-color: #1d000098;
}

ul {
    padding: 5px;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    padding: 5px 10px;
}

a {
    color: #ffffff;
}

.block {
  display: block;
  width: 30%;
  border: none;
  background-color: #ff0000;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  font-family: 'Stylish', sans-serif;
  font-weight: 300;
   font-style: italic;
}
.block:hover {
  background-color: #ddd;
  color: black;
}
.title {
    font-size: 22pt;
    color: #ffffff;
    margin: 170px auto 0 auto;
    padding: 2em;
    max-width: 75%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
}
 h1 {
    font-family: 'Stylish', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}
 h2 {
    font-family: 'Stylish', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3em;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffffd5;
  padding: 15px;
  margin: 0 auto;
  max-width: 75%;
  max-height: 60%;
  border-radius: 10px;
}
.container img {
  max-width: 400px;
  height: auto;
  object-fit: cover;
 margin: 90px;
}
.container h1 {
  font-size: 24pt;
  margin: 0 50px;
}
.container p {
  margin: 100px;
  font-size: 18pt;
}
.chapter-info {
    margin: 25vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
}
.container2 { 
  display: flex;
flex-direction: row-reverse;
  align-items: center;
  background-color: #ffffffd5;
   padding: 15px;
  margin: 0 auto;
  max-width: 75%;
  max-height: 60%;
  border-radius: 10px;
}
.container2 img { 
  max-width: 400px;
  height: auto;
  margin: 90px;
  object-fit: cover;
}
.container2 h1 { 
  font-size: 24pt;
  margin: 0 50px;
}
.container2 p {
  margin: 100px;
  font-size: 18pt;
}
.chapter-info {
    margin: 25vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
}
.outer {
    margin-bottom: 50px;
}